Repository AngularAustria/angular-austria.at: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint -c tslint.json

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --write",
    "tslint -c tslint.json",
    "git add"
  ],
  "*.{md,json,html,scss,js}": [
    "prettier --write",
    "git add"
  ]
}

Add redirects file so SPA routing works with Netlify
  src/_redirects
  stencil.config.ts
Due: prettier --write, tslint -c tslint.json

Add redirect to proxy Meetup API
  src/_redirects
Due: none

added nice-anim triggerDistance again and footer link to lean-coders
  src/components/app-contact/app-contact.tsx
  src/components/app-events/app-events.tsx
  src/components/app-footer/app-footer.tsx
  src/components/app-home/app-home.tsx
  src/components/app-jobs/app-jobs.tsx
  src/components/app-team/app-team.tsx
  src/components/app-training/app-training.tsx
  src/components/app-videos/app-videos.tsx
Due: none

fixed link to slack channel
  src/components/app-slackinfo/app-slackinfo.tsx
Due: none

replaced link with invite url
  src/components/app-slackinfo/app-slackinfo.tsx
Due: none

fix(home): text on home page
  src/components/app-home/app-home.tsx
Due: none

fix(home): Lean coders should be premium partner
  src/components/app-home/app-home.tsx
Due: none

feat(videos): improve headline
  src/components/app-videos/app-videos.tsx
Due: none

feat: add new job from Apa (Gentics team)
  src/components/app-jobs/app-jobs.tsx
Due: none

chore(deps): update vulnerable deps
  package-lock.json
Due: prettier --write
